{% load static %}

<!-- Header -->
<header style="border-bottom: 1px solid #eee;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Учет оборудования</a>
            </div>

            {% if not user.is_anonymous %}
              <span>
                Вы вошли как
                <strong>{{ user }}</strong>.
              </span>
              <a href="{% url 'logout' %}" class="logout-btn btn btn-danger" role="button">Выйти</a>
            {% else %}
              <button class="login-btn btn btn-primary" type="button" name="button">Войти</button>
            {% endif %}
        </div>
    </div>

  <!-- Messages -->
  <div>
    {% if messages %}
      {% for message in messages %}
        <div style="border-radius:0;" {% if message.tags %} class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <!-- End Messages -->
  <div class="container">
    <!-- Navbar -->
    <!-- Important: columns can be used directly in navbar since it is d-flex -->
    <nav class="navbar navbar-expand-md navbar-light p-0 py-2">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      </div>
    </nav>
    <!-- End Navbar -->
  </div>
</header>
<!-- End Header -->
