{% extends 'base.html' %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}

{% block content %}

  {% include "_modal.html" %}

  <div class="container-fluid">
    <div class="row">
      <div class="col">
       <div class="row">
          <h4>Войдите в систему</h4>

       </div>

      </div>
    </div>
  </div>

{% endblock content %}

{% block extrascripts %}
  <script type="text/javascript">
    $(function () {
      // Log in & Sign up buttons
      $(".login-btn").modalForm({formURL: "{% url 'login' %}"});
      $(".signup-btn").modalForm({formURL: "{% url 'signup' %}"});

      // Create book button
      $(".create-book").modalForm({formURL: "{% url 'create_book' %}"});

      // Update book buttons
      $(".update-book").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Read book buttons
      $(".read-book").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Delete book buttons
      $(".delete-book").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      })

      // Hide message
      $(".alert").fadeTo(2000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
      });

    });
  </script>
{% endblock extrascripts %}
